.Services {
    margin-bottom: 100px !important;
    
    .Blog-title {
        text-align: center;
        margin-bottom: 40px;
        font-size: 35px;
    }
    
    &-elements {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    &-item {
        text-align: center;
        margin: 20px;
    }

    &-itemImg {
        width: 400px;
        height: 270px;
        margin-bottom: 25px;
    }

    &-itemTitle {
        color: #000;
        font-size: 24px;
        margin-bottom: 50px;
    }
}